* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

.outer-container {
    margin: 0 auto;
    width: 1020px;
}

.container {
    padding: 0 40px;
}

.header {
    padding: 33px 0 38px;
    background-color: #2d303a;
}

.line_bottom {
    position: relative;
}

.line_bottom::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
}

.header.line_bottom::before {
    background-color: #323746;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__img{
    padding-top: 1px;
}

.header__navigation {
    padding-top: 8px;
}

.header__navigation li {
    display: inline-block;
    position: relative;
    font-size: 12px;
}

.header__navigation li::after {
    position: absolute;
    content: '';
    top: 7px;
    left: 12px; 
    width: 2px;
    height: 2px;
    border-radius: 50%; 
    background-color: #6d717e;  
}

.header__navigation li:first-child::after {
    background-color: transparent;
}

.header__navigation li+li {
    padding-left: 26px;
}

.header__navigation-item a{
    font-family: 'Lato', "Arial", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    transition: all 300ms;    
}

.header__navigation-item a:hover {
    color: #f06c64;
}

.slider {
    padding: 53px 0 64px;
    background-color: #f06c64;
}

.slider.line_bottom::before {
    background-color: #ea676b;
}

.slider__content {
    position: relative;
}

.slider__content-inner img:first-child {
    width: 240px;
    height: 483px;
}

.slider__content-inner img:last-child {
    margin-top: 121px;
    margin-right: -1px;
    width: 484px;
    height: 240px;
}

.slider__content-inner {
    display: flex;
    justify-content: space-between;
    padding: 0px 72px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 228px;
    cursor: pointer;
    filter: grayscale(22%);
}

.arrow-left:hover,
.arrow-right:hover {
    filter: grayscale(2%);
}

.arrow-left {
    left: 2px;
}

.arrow-right {
    right: 0px;
}

.services {
    padding-top: 69px;
    background-color: #f2f2f2;
}

.services.line_bottom::before {
    background-color: #ffffff;
}

.services__title,
.info__title {
    font-family: 'Lato';
    font-weight: 900;
    color: #666d89;
}

.services__text,
.info__text {
    color: #767e9e;
}

.services__title {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 17.86px;
    letter-spacing: 0;
}

.services__text {
    margin-bottom: 50px;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 300; 
}

.services__info {
    display: flex;
}

.info__box {
    display: flex;
    max-width: 300px;
}

.info__img {
    width: 59px;
    height: 59px;
}

.info__content {
    margin-left: 20px;
}

.info__title {
    margin-bottom: 18px;
    font-size: 14px;
}

.info__text{
    font-size: 12px;
    line-height: 21.56px;
    font-family: 'Lato';
    font-weight: 400;
}

.info__column+.info__column {
    margin-left: 20px;
}

.info__box+.info__box {
    margin-top: 33px;
}