@import 'assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 30px;
    line-height: 17.86px;
    font-family: "LatoBlack";
}

p {
    font-size: 18px;
    line-height: 30px;
    font-family: "LatoLight";
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1020px;
}

.portfolio {
    padding: 70px 0 67px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__head {
    margin-bottom: 27px;
    letter-spacing: -0.1px;
    color: #666d89;
}

.portfolio__text {
    margin-bottom: 12px;
    color: #767e9e;
}

.portfolio__tags {
    margin-bottom: 19px;
    padding-left: 1px;
}

.tag + .tag {
    margin-left: 6px;
}

.tag {
    padding: 2px 6px 3px 7px; 
    border: 1px solid;
    border-radius: 5px;
    font-size: 12px;
    line-height: 21.56px;
    font-family: "LatoRegular";
    background-color: transparent;
    transition: all 300ms;
    outline: none;
    cursor: pointer;
}

.tag__selected {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.tag__inactive {
    color: #666d89;
    border-color: #666d89;
}
  
.portfolio__content {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-height: 601px;
    overflow: hidden;
}

.about-us {
    padding: 69px 0px 67px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    margin-bottom: 27px;
    letter-spacing: -0.16px;
}

.about-us__text {
    text-align: justify;
    margin-bottom: 45px;
}

.about-us__title,
.person__title {
    color: #666d89;
}

.about-us__text,
.person__text {
    color: #767e9e;
}

.about-us__people {
    display: flex;
    justify-content: space-between;
}

.about-us__person {
    width: 300px;
    height: 443px;
}

.about-us__person:nth-child(2) {
    margin-left: -1px;
}

.person_foto {
    margin-bottom: 14px;
}

.person__title {
    margin-bottom: 10px;
    letter-spacing: -0.18px;
    font-size: 18px;
    line-height: 17.86px;
    font-family: "LatoBlack";
    color: #666d89;
}

.person__text {
    margin-bottom: 24px;
    letter-spacing: -0.06px;
    text-align: justify;
    font-size: 12px;
    line-height: 21.56px;
    font-family: "LatoRegular";
}

.person__contacts {
    display: flex;
}

.person__contact {
    cursor: pointer;
}

.person__contacts > a+a {
    margin-left: 8px;
}