@import 'assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 30px;
    line-height: 17.86px;
}

p {
    font-size: 18px;
    line-height: 30px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1020px;
}

.header {
    padding: 29px 0px 31px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header__content {
    display: flex;
    justify-content: space-between;
}


.logo{
    position: relative;
    font-family: "LatoLight";
    letter-spacing: 0.25px;
}

.logo::after {
    position: absolute;
    content: "*";
    top: -1px;
    right: -10px;
    font-size: 28px;
    color: #f06c64;
}

.navigation {
    display: flex;
    padding-top: 13px;
}

.navigation li {
    display: block;
    position: relative;
    font-size: 12px;
}


.navigation li+li {
    padding-left: 28px;
}

.navigation li::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 13px; 
    width: 2px;
    height: 2px;
    border-radius: 50%; 
    background-color: #6d717e;  
}

.navigation li:first-child::after {
    background-color: transparent;
}


.navigation a {
    font-family: "LatoBold", sans-serif;
    letter-spacing: 0;
    transition: all 300ms;    
}

.navigation a:hover {
    color: #f06c64;
}

.slider {
    padding: 53px 0 58px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__content {
    position: relative;
}

.slider__content-inner img:first-child {
    width: 240px;
    height: 483px;
}

.slider__content-inner img:last-child {
    margin-top: 121px;
    margin-right: -1px;
    width: 484px;
    height: 240px;
}

.slider__content-inner {
    display: flex;
    justify-content: space-between;
    padding: 0px 72px;
}

.arrow-button { 
    position: absolute;
    top: 228px;
    border: none;
    cursor: pointer;
    filter: grayscale(22%);
    background-color: transparent;
    outline: none;
}

.arrow-button:hover {
    filter: grayscale(2%);
}

.arrow-left button{
    left: 2px;
}

.arrow-right button{
    right: 0px;
}

.services {
    padding: 69px 0 60px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}


.services__head,
.service__title {
    font-family: "LatoBlack", sans-serif;
    color: #666d89;
}

.services__text,
.service__text {
    color: #767e9e;
}


.service__title {
    font-size: 18px;
}

.services__head {
    margin-bottom: 27px;
    letter-spacing: -0.2px;
}

.services__text {
    margin-bottom: 47px;
    text-align: justify;
    font-family: "LatoLight", sans-serif;
    letter-spacing: 0px;
}

.layout-3-column {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 90px 90px;
    grid-column-gap: 20px;
    grid-row-gap: 34px;

}

.service {
    display: flex;
}

.service__img {
    width: 59px;
    height: 59px;
}

.service__description {
    margin-left: 21px;
}


.service__title {
    margin-top: -4px;
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: -0.1px;
}

.service__text {
    text-align: justify;
    font-size: 12px;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    font-family: 'LatoRegular';
}