@import "assets/fonts/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 12px;
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 30px;
    line-height: 17.86px;
    font-family: "LatoBlack", sans-serif;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-family: "LatoLight", sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1020px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 29px 0px 31px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    z-index: 10;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    font-family: "LatoLight", sans-serif;
    letter-spacing: 0.25px;
}

.logo::after {
    position: absolute;
    content: "*";
    top: -1px;
    right: -10px;
    font-size: 28px;
    color: #f06c64;
}

.navigation {
    display: flex;
    padding-top: 13px;
}

.navigation li {
    position: relative;
    font-size: 12px;
}

.navigation li + li {
    padding-left: 28px;
}

.navigation li::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 13px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #6d717e;
}

.navigation li:first-child::after {
    background-color: transparent;
}

.navigation__link {
    font-family: "LatoBold", sans-serif;
    letter-spacing: 0;
    transition: all 300ms;
}

.navigation__link:hover {
    color: #f06c64;
    cursor: pointer;
}

.navigation__link.active {
    color: #f06c64;
}

.header__content-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 71px;
    text-align: center;
    z-index: 5;
}

.header__content-mobile .logo {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: all 0.4s;
}

.header__content-mobile .logo.open-menu {
    left: 91px;
    transform: translateX(0);
}

.header__content-mobile .logo::after {
    position: absolute;
    content: "*";
    top: -4px;
    right: -9px;
    font-size: 24px;
    color: #f06c64;
}

.header__content-mobile .logo h1 {
    font-size: 19.68px;
    line-height: 24px;
}

.burger-button {
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 30;
    transform: rotate(0);
    transition: all 0.4s;
}

.burger-button span {
    display: block;
    width: 25px;
    height: 2.5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.burger-button span + span {
    margin-top: 6.4px;
}

.burger-menu {
    position: fixed;
    top: 0px;
    left: -278px;
    width: 278px;
    height: 100%;
    background-color: #2d303a;
    transition: all 0.4s;
    z-index: 10;
}

.burger-menu .navigation {
    padding-top: 232px;
    flex-direction: column;
    z-index: 10;
}

.burger-menu .navigation li {
    padding: 0;
}

.burger-menu .navigation .navigation__link {
    font-size: 24px;
    line-height: 29px;
    z-index: 10;
}

.burger-menu .navigation li + li:not(:first-child) {
    padding-top: 27px;
}

.burger-menu .navigation li::after {
    width: 0px;
    height: 0px;
}

.burger-menu-overlay {
    position: fixed;
    top: 0;
    /* left: -100%; */
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #2d303a;
    opacity: 0.6;
    z-index: 5;
    transition: all 0.4s;
}

.burger-menu-overlay.open-menu {
    right: 0;
}

.slider {
    padding-top: 95px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    transition: ease-in 0.4s;
}

.slider.second-background {
    background-color: #648bf0;
    border-color: rgb(100, 127, 197);
}

.slider__content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 594px;
}

.slider__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.slide {
    /* padding: 0px 72px; */
    flex: 0 0 100%;
    width: 100%;
}

.vertical-phone-layout {
    position: absolute;
    top: 9%;
    left: 8%;
    width: 25.55%;
}

.vertical-phone-layout::before {
    content: "";
    padding-top: 201%;
}

.vertical-phone {
    width: 100%;
    height: 100%;
}

.horizontal-phone-layout {
    position: absolute;
    top: 29.3%;
    left: 41%;
    width: 51.4%;
}

.horizontal-phone-layout::before {
    content: "";
    padding-top: 49.7%;
}

.horizontal-phone {
    width: 100%;
    height: 100%;
}

.click-layout {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.click-layout-vertical {
    top: 0;
    left: 0;
    width: 89.5%;
    height: 94%;
    border-radius: 25px;
}

.click-layout-horizontal {
    top: 0;
    left: 0;
    width: 94.7%;
    height: 88.4%;
    border-radius: 25px;
}

.screen-layout {
    position: absolute;
    border-radius: 2px;
    background-color: black;
    opacity: 1;
}

.screen-layout-vertical {
    top: 13.1%;
    left: 5.5%;
    width: 78.8%;
    height: 68.8%;
}

.screen-layout-horizontal {
    top: 5.5%;
    left: 12.4%;
    width: 68.8%;
    height: 77.4%;
}

.screen-layout.active {
    opacity: 0;
    z-index: 2;
}

.slide-2 {
    display: flex;
    justify-content: center;
    position: relative;
}

.slide-2 .center-phone {
    position: absolute;
    top: 7.23%;
    left: 34.74%;
    width: 27.02%;
    height: 86.36%;
    z-index: 3;
}

.slide-2 .back-phone {
    position: absolute;
    top: 25.59%;
    width: 16.6%;
    height: 52.86%;
}

.slide-2 .back-phone-first {
    left: 19.82%;
}

.slide-2 .back-phone-second {
    right: 24.52%;
}

.arrow-button {
    position: absolute;
    top: 47.55%;
    border: none;
    cursor: pointer;
    filter: grayscale(22%);
    background-color: transparent;
    outline: none;
}

.arrow-button img {
    pointer-events: none;
}

.arrow-button:hover {
    filter: grayscale(2%);
}

.arrow-left {
    left: 2px;
}

.arrow-right {
    right: 0px;
}

.services {
    padding: 69px 0 73px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__head,
.service__title {
    font-family: "LatoBlack", sans-serif;
    color: #666d89;
}

.services__text,
.service__text {
    color: #767e9e;
}

.service__title {
    font-size: 18px;
}

.services__head {
    margin-bottom: 27px;
    letter-spacing: -0.2px;
}

.services__text {
    margin-bottom: 47px;
    text-align: justify;
    font-family: "LatoLight", sans-serif;
    letter-spacing: 0px;
}

.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 31.91%);
    grid-template-rows: repeat(2, 90px);
    grid-column-gap: 2.23%;
    grid-row-gap: 33px;
}

.service {
    display: flex;
    overflow: hidden;
}

.service__img {
    width: 59px;
    height: 59px;
}

.service__description {
    margin-left: 21px;
}

.service__title {
    margin-top: -4px;
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: -0.1px;
}

.service__text {
    text-align: justify;
    font-size: 12px;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    font-family: "LatoRegular", sans-serif;
    overflow: hidden;
}

.portfolio {
    padding: 69px 0 67px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__head {
    margin-bottom: 27px;
    letter-spacing: -0.1px;
    color: #666d89;
}

.portfolio__text {
    margin-bottom: 12px;
    color: #767e9e;
}

.portfolio__tags {
    margin-bottom: 19px;
    padding-left: 1px;
}

.tag + .tag {
    margin-left: 6px;
}

.tag {
    padding: 2px 6px 3px 7px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 12px;
    line-height: 21.56px;
    font-family: "LatoRegular", sans-serif;
    background-color: transparent;
    transition: all 300ms;
    outline: none;
    cursor: default;
}

.tag.tag__selected {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.tag__inactive {
    color: #666d89;
    border-color: #666d89;
}

.tag__inactive:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: pointer;
}

.portfolio__content {
    display: grid;
    grid-template-areas:
        "a a a a"
        "a a a a"
        "a a a a";
    grid-gap: 20px;
    overflow: hidden;
}

.portfolio__image {
    width: 100%;
}

.portfolio__image::before {
    content: "";
    float: left;
    padding-top: 80%;
}

.portfolio__image:hover {
    cursor: pointer;
}

.portfolio__image.active {
    outline: 5px solid #f06c64;
    outline-offset: -5px;
}

.image__tag {
    display: none;
}

.about-us {
    padding: 69px 0px 67px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    margin-bottom: 27px;
    letter-spacing: -0.16px;
}

.about-us__text {
    text-align: justify;
    margin-bottom: 45px;
}

.about-us__title,
.person__title {
    color: #666d89;
}

.about-us__text,
.person__text {
    color: #767e9e;
}

.about-us__people {
    display: flex;
    justify-content: space-between;
}

.about-us__person {
    width: 31.91%;
    height: 443px;
}

.about-us__person:nth-child(2) {
    margin-left: -1px;
}

.person_foto {
    margin-bottom: 14px;
    width: 100%;
}

.person__title {
    max-height: 18px;
    margin-bottom: 10px;
    letter-spacing: -0.18px;
    font-size: 18px;
    line-height: 17.86px;
    font-family: "LatoBlack";
    color: #666d89;
    overflow: hidden;
}

.person__text {
    margin-bottom: 24px;
    letter-spacing: -0.06px;
    text-align: justify;
    font-size: 12px;
    line-height: 21.56px;
    font-family: "LatoRegular";
}

.person__contacts {
    display: flex;
    margin-left: 1px;
}

.about-us__person:nth-child(3) .person__contacts {
    margin-left: 0px;
}

.person__contact {
    cursor: pointer;
}

.person__contacts > a + a {
    margin-left: 8px;
}

.quote {
    padding: 63px 0px 67px;
    letter-spacing: -0.16px;
    color: #f0d8d9;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote__title {
    margin-bottom: 27px;
}

.quote__text {
    margin-bottom: 44px;
    text-align: justify;
    letter-spacing: 0.01px;
    font-size: 18px;
    line-height: 30px;
    font-family: "LatoLight";
}

.layout-2-column {
    display: flex;
}

.quote__form {
    margin-right: 20px;
    position: relative;
}

.information {
    width: 31.91%;
}

input,
textarea {
    display: block;
}

input::placeholder,
textarea::placeholder {
    letter-spacing: -0.6px;
    line-height: 21.56px;
    font-family: "LatoRegular";
    color: #f48c8f;
}

.quote__form input,
.quote__form textarea {
    padding: 14px 15px;
    border: none;
    color: #f0d8d9;
    border-radius: 5px;
    background-color: #d6564f;
    outline: none;
}

.quote__form {
    width: 65.85%;
}

.quote__form input {
    width: 100%;
    height: 38px;
}

.input-field {
    width: 100%;
    height: 38px;
}

.input-field + .input-field {
    margin-top: 16px;
}

.quote__form textarea {
    margin-top: 16px;
    padding: 8px 15px;
    width: 100%;
    height: 202px;
    resize: none;
}

input.form-button {
    margin-top: 14px;
    padding: 0;
    width: 136px;
    height: 38px;
    border: none;
    border-radius: 5px;
    font-family: "LatoBold";
    font-size: 14px;
    line-height: 17px;
    color: #886a30;
    background-color: #fbc65f;
    transition: all 0.3s;
}

.form-button:hover {
    background-color: rgb(255, 184, 43);
    cursor: pointer;
}

.tooltip {
    position: absolute;
    display: none;
    padding: 5px 12px;
    width: 150px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-family: "LatoLight";
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    border-radius: 4px;
    cursor: default;
    z-index: 2;
}

.tooltip#alert-name {
    top: 5px;
    right: 6px;
}

.tooltip#alert-email {
    top: 59px;
    right: 6px;
}

.tooltip.alert {
    display: block;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.contacts a {
    position: relative;
    padding-left: 23px;
    word-spacing: 0.8px;
    color: #f0d8d9;
    font-family: "LatoRegular";
}

.contacts a + a {
    margin-top: 6px;
}

.contacts a::before {
    position: absolute;
    top: 1px;
    left: 1px;
}

.contacts a:nth-child(3) {
    letter-spacing: 0.1px;
}

.contacts a:nth-child(1)::before {
    left: 4px;
    content: url("assets/img/quote/location.png");
}

.contacts a:nth-child(2)::before {
    left: 2px;
    content: url("assets/img/quote/Phone.png");
}

.contacts a:nth-child(3)::before {
    top: 2px;
    left: 1px;
    content: url("assets/img/quote/mail.png");
}

.footer {
    padding: 19px 0px 22px;
    background-color: #2d303a;
}

.footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-text {
    font-size: 13px;
    line-height: 18px;
    color: #666d89;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3px;
}

.social-networks span + span {
    margin-left: 8px;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.overlay.hidden {
    display: none;
}

.message {
    position: absolute;
    padding: 10px;
    width: 420px;
    min-height: 200px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 5px;
    background-color: #f06c64;
    font-family: "LatoRegular";
    font-size: 14px;
    color: #ffffff;
}

.close-btn {
    position: absolute;
    margin-top: 15px;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 24px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #886a30;
    background-color: #fbc65f;
    transition: all 0.3s;
}

.close-btn:hover {
    background-color: rgb(255, 184, 43);
    cursor: pointer;
}

.message__title {
    font-size: 20px;
}

.message__text {
    max-width: 400px;
    font-size: 14px;
}

.information__title {
    text-align: justify;
    margin-top: -2px;
    margin-bottom: 8px;
    max-width: 400px;
    letter-spacing: -0.1px;
    font-size: 18px;
    font-family: "LatoBlack";
}

.information__text {
    text-align: justify;
    font-size: 12px;
    word-spacing: -1.4px;
    letter-spacing: 0.025px;
    line-height: 21.56px;
    font-family: "LatoRegular";
}

@media (max-width: 1019px) {
    .layout-3-column {
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(3, 90px);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        padding-right: 34px;
    }

    .portfolio__content {
        grid-template-areas:
            "a a a"
            "a a a"
            "a a a"
            "a a a";
    }
}

@media (max-width: 919px) {
    .slider__content {
        height: 534px;
    }

    .about-us__person {
        height: 433px;
    }
}

@media (max-width: 879px) {
    .slider__content {
        height: 495px;
    }
}

@media (max-width: 819px) {
    .slider__content {
        height: 475px;
    }

    .about-us__person {
        height: 401px;
    }
}

@media (max-width: 768px) {
    .slider__content {
        height: 442px;
    }

    .person__text {
        margin-bottom: 15px;
    }

    .about-us__person {
        height: 376px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 0 30px;
    }

    .header {
        padding: 0;
        border: none;
        height: 71px;
        z-index: 3;
    }

    .header__content {
        display: none;
    }

    .header__content-mobile {
        display: block;
    }

    .burger-button.active {
        transform: rotate(90deg);
    }

    .burger-menu.active {
        left: 0;
    }

    .slider {
        border: none;
        padding-top: 71px;
    }

    .click-layout-vertical {
        border-radius: 20px;
    }

    .click-layout-horizontal {
        height: 87.6%;
        border-radius: 20px;
    }

    .screen-layout-horizontal {
        left: 12.1%;
        width: 69.4%;
    }

    .services {
        border: none;
    }

    .layout-3-column {
        display: flex;
        flex-direction: column;
    }

    .service:not(:last-child) {
        margin-bottom: 30px;
    }

    .portfolio {
        border: none;
    }

    .portfolio__content {
        grid-template-areas:
            "a a"
            "a a"
            "a a"
            "a a";
        grid-gap: 13px;
    }

    .portfolio__image:nth-child(n + 9) {
        display: none;
    }

    .about-us {
        border: none;
    }

    .about-us__people {
        align-items: center;
        flex-direction: column;
    }

    .about-us__person {
        max-width: 314px;
        width: 100%;
        height: 439px;
    }

    .about-us__person:not(:last-child) {
        margin-bottom: 34px;
    }

    .person__title {
        max-height: 15px;
        margin-bottom: 7px;
        font-size: 18px;
    }

    .person__text {
        margin-bottom: 10px;
        letter-spacing: -0.06px;
        font-size: 12px;
        line-height: 21.56px;
        font-family: "LatoRegular";
    }

    .quote {
        border: none;
    }

    .layout-2-column {
        flex-direction: column;
    }

    .quote__form {
        margin-right: 0px;
    }

    .information {
        width: 100%;
    }

    .quote__form {
        width: 100%;
    }

    input.form-button {
        margin-bottom: 30px;
        width: 100%;
        height: 50px;
    }

    .copyright-text {
        display: none;
    }

    .footer > .wrapper {
        justify-content: center;
    }
}

@media (max-width: 667px) {
    .slider__content {
        height: 380px;
    }
}

@media (max-width: 617px) {
    .slider__content {
        height: 340px;
    }
}

@media (max-width: 567px) {
    .slider__content {
        height: 326px;
    }

    .click-layout-vertical {
        border-radius: 12px;
    }

    .screen-layout-vertical {
        top: 13.1%;
        left: 5.5%;
        width: 78.8%;
        height: 68.8%;
    }

    .click-layout-horizontal {
        border-radius: 12px;
    }

    .screen-layout-horizontal {
        top: 5.2%;
        left: 12.1%;
        width: 69%;
        height: 76.3%;
    }
}

@media (max-width: 517px) {
    .slider__content {
        height: 310px;
    }
}

@media (max-width: 467px) {
    .slider__content {
        height: 266px;
    }
}

@media (max-width: 417px) {
    .slider__content {
        height: 220px;
    }

    .message {  
        width: 90%;
        min-height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 375px) {
    .slider__content {
        height: 200px;
    }

    .vertical-phone {
        top: 9%;
        left: 9%;
    }

    .horizontal-phone {
        top: 34.3%;
        left: 41%;
    }
}

@media (max-width: 374px) {
    .slider__content {
        height: 200px;
    }

    .click-layout-vertical {
        height: 92.6%;
        border-radius: 9px;
    }

    .screen-layout-vertical {
        top: 12.6%;
        left: 5.4%;
        width: 78.8%;
        height: 68%;
    }

    .click-layout-horizontal {
        border-radius: 9px;
    }

    .screen-layout-horizontal {
        top: 5.2%;
        left: 12.1%;
        width: 69.5%;
        height: 75.7%;
    }

    .portfolio__tags {
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
        padding-left: 0px;
    }

    .tag + .tag {
        margin: 0;
    }

    .tag {
        text-align: center;
    }

    .tag:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media (max-width: 360px) {
    .slider__content {
        height: 170px;
    }
}

@media (max-width: 340px) {
    .slider__content {
        height: 155px;
    }
}
